/* Importación de fuentes de texto */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* Navbar */

header {
     position: fixed;
     z-index: 100;
}

.menuProyect {
     margin-top: -1.21rem;
}

#menu {
     z-index: 2;
}

#menu-bar {
     width: 3rem;
     height: 5rem;
     margin: 30px 0 20px 20px;
     cursor: pointer;
}

.bar {
     height: 5px;
     width: 100%;
     background-color: #ffdc41;
     display: block;
     border-radius: 5px;
     transition: 0.3s ease;
}

#bar1 {
     transform: translateY(-4px);
}

#bar3 {
     transform: translateY(4px);
}

.nav {
     transition: 0.3s ease;
     display: none;
}

.nav ul {
     padding: 0 22px;
}

.nav li {
     list-style: none;
     padding: 12px 0;
}

.nav li a {
     color: #111111;
     font-size: 1.4rem;
     text-decoration: none;
     transition: 0.4s;
     font-family: 'Montserrat', sans-serif;
}

.nav li a:hover {
     color: #191818;
     transition: 0.4s;
     text-shadow: #fe47b2 2px 1px 5px;
}

.menu-bg,
#menu {
     top: 0;
     left: 0;
     position: absolute;
}

.menu-bg {
     z-index: 1;
     width: 0;
     height: 0;
     margin: 30px 0 20px 20px;
     background-image: linear-gradient(to right, #ffdc41, #ffdc43, #ffdd46, #ffdd48, #ffdd4a);
     border-radius: 50%;
     transition: 0.3s ease;
     box-shadow: #000000 10px 3px 40px;
}

.change {
     display: block;
}

.change .bar {
     background-color: #111111;
}

.change #bar1 {
     transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
     opacity: 0;
}

.change #bar3 {
     transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
     width: 620px;
     height: 860px;
     transform: translate(-60%, -30%);
}

.nav li p {
     margin: 0rem;
     font-size: 1.4rem;
     color: #fe47b2;
     transition: 0.4s;
}

.nav li p:hover {
     color: #fe47b2;
     transition: 0.4s;
     text-shadow: #00afd6 2px 1px 5px;
}

/* Página principal */

body {
     height: 100%;
     background-color: #111111;
}

.presentacion {
     padding: 17.5rem;
     padding-bottom: 15rem;
     text-align: center;
}

h1 {
     text-align: center;
     margin-top: 0.5rem;
     margin-left: -7rem;
     margin-right: -7rem;
     padding: 1rem;
     font-size: 5.6rem;
     color: #ffffff;
     font-family: 'Montserrat', sans-serif;
     text-shadow: #fe47b2 5px 3px 8px;
}

h2 {
     text-align: center;
     font-size: 3rem;
     color: #ffdc41;
     font-family: 'Montserrat', sans-serif;
}

.logo {
     margin-top: 1rem;
     width: 6rem;
     height: 6rem;
     margin-bottom: -5rem;
}

/* Sobre mí */

img {
     width: 100%;
}

.aboutMe {
     background: #ffffff;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #ffffff, #ffffff);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #ffffff, #ffffff);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, 
     Opera 12+, Safari 7+ */
     padding: 21.2rem;
     padding-bottom: 0rem;
}

h3 {
     font-size: 5rem;
     margin-top: -31rem;
     margin-bottom: 4rem;
     color: #111111;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
     text-shadow: #00c6f2 5px 3px 8px;
}

.flag1 {
     padding: 0.8rem;
     margin-left: -6rem;
     margin-right: -6rem;
     margin-top: 3rem;
     background-color: #111111;
     border-radius: 6px;
}

.flag2 {
     padding: 0.8rem;
     margin-left: -3rem;
     margin-right: -3rem;
     margin-top: 2rem;
     margin-bottom: -1rem;
     background-color: #ffdc41;
     border-radius: 6px;
}

p {
     margin-top: 4rem;
     margin-bottom: -2rem;
     font-size: 1.9rem;
     color: #111111;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
}

.interFlag {
     margin-top: 4rem;
     margin-bottom: 3rem;
}

.perfil {
     margin: auto;
     margin-top: 2rem;
     margin-bottom: 10rem;
     width: 18rem;
     height: 18rem;
}

.perfil img {
     border: 0.5rem solid #111111;
     box-shadow: #fe47b2 1px 1px 25px;
     border-radius: 6px;
}

.botonContacto {
     text-align: center;
}

.btn-primary {
     background-color: #00c6f2;
     color: white;
     font-size: 1.1rem;
     font-family: 'Montserrat', sans-serif;
     padding: 1rem;
     padding-left: 1.7rem;
     padding-right: 1.7rem;
     margin-top: 3rem;
     margin-bottom: 1rem;
     margin-left: 1rem;
     margin-right: 1rem;
     border: none;
     transition: 0.4s;
}

.btn-primary:hover {
     background-color: #00afd6;
     color: #fff;
     box-shadow: #00afd6 1px 1px 11px;
     transition: 0.4s;
}

.transformed {
     transform: rotate(180deg);
}

/* Tecnologías */

.tecnologias {
     background-color: #111111;
     padding-top: 23rem;
     padding-bottom: 8rem;
}

.tecnologias h1 {
     text-align: center;
     margin-top: -18rem;
}

.logosTech {
     background-color: #262626;
     padding-top: 2rem;
     padding-bottom: 2rem;
     padding-left: 5rem;
     padding-right: 5rem;
     margin-top: 3rem;
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     margin-left: 4rem;
     margin-right: 4rem;
     border: solid 0px #111111;
     border-radius: 6px;
     box-shadow: #ffdc41 1px 1px 18px;
}

.tecnologias img {
     margin-bottom: 2rem;
     margin-left: 3rem;
     margin-right: 3rem;
     display: flex;
     flex-direction: row;
     width: 7rem;
     height: 6.5rem;
}

.logosTech h4 {
     font-size: 1.5rem;
     color: white;
     text-shadow: #000000 1px 2px 11px;
     text-align: center;
     margin-bottom: 1rem;
     margin-top: 1rem;
     font-family: 'Montserrat', sans-serif;
}

.frame3 {
     margin: auto;
     margin-top: -8rem;
     width: 50rem;
}

.frame3 img {
     height: 25rem;
}

/* Proyectos */

.title-cards h1 {
     margin-top: 0rem;
     text-align: center;
}

.card h4 {
     font-size: 2rem;
     color: white;
     text-shadow: #fe47b2 1px 1px 10px;
     margin-bottom: -1rem;
     font-family: 'Montserrat', sans-serif;
}

.card .contenido-card p {
     line-height: 1.8;
     color: #ffffff;
     font-size: 1.2rem;
     margin-bottom: 20px;
     margin-left: 1rem;
     margin-right: 1rem;
     font-family: 'Montserrat', sans-serif;
}

.container-card {
     width: 100%;
     display: flex;
     max-width: 1100px;
     margin: auto;
}

.title-cards {
     width: 100%;
     max-width: 1080px;
     margin: auto;
     padding: 20px;
     margin-top: 20px;
     margin-bottom: 2rem;
     text-align: center;
}

.card {
     width: 100%;
     height: 47rem;
     margin: 20px;
     margin-left: 1rem;
     margin-right: 1rem;
     border-radius: 6px;
     background-color: #262626;
     box-shadow: #000000 1px 1px 20px;
     transition: all 400ms ease-out;
     cursor: default;
}


.card:hover {
     box-shadow: #fe47b2 1px 1px 18px;
     transform: translateY(-3%);
}

.card img {
     width: 100%;
     height: 172px;
     border-bottom: solid 10px #000000;
}

.card .contenido-card {
     text-align: center;
}

.card .contenido-card a {
     display: inline-block;
     padding: 10px;
     margin-top: 10px;
     text-decoration: none;
     color: #111111;
     background-color: #ffdc41;
     border-radius: 4px;
     transition: all 400ms ease;
     margin-bottom: 5px;
     font-family: 'Montserrat', sans-serif;
}

.card .contenido-card a:hover {
     background-color: #ffeb90;
     color: #111111;
     box-shadow: #ffeb90 1px 1px 8px;
}

.card .contenido-card .codigo a {
     color: #111111;
     background-color: #ffffff;
}

.card .contenido-card .codigo a:hover {
     color: #111111;
     background-color: #ffffff;
     box-shadow: #ffffff 1px 1px 8px;
}

.flex-container {
     flex-wrap: wrap;
}

.miniIcons {
     margin: 2rem;
     margin-top: 1rem;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}

.miniIcons img {
     width: 4rem;
     height: 2.3rem;
     margin: 0.2rem;
     margin-top: 0.8rem;
     border: none;
}

.todos {
     margin-top: -1.5rem;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
}

/* Idiomas */

#langLink {
     margin-top: 2rem;
     margin-bottom: 2rem;
}

.lang {
     background-color: #262626;
     padding-top: 2rem;
     padding-bottom: 2rem;
     margin-top: 3rem;
     margin-left: 11rem;
     margin-right: 11rem;
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     border: solid 0px #111111;
     border-radius: 6px;
     box-shadow: #ffdc41 1px 1px 18px;
}

.lang h4 {
     font-size: 1.5rem;
     color: white;
     text-shadow: #000000 1px 2px 11px;
     text-align: center;
     margin-bottom: 1.5rem;
     margin-top: 0rem;
     font-family: 'Montserrat', sans-serif;
}

.bandera {
     height: 10rem;
     width: 9rem;
     margin: auto;
     margin-bottom: -6.5rem;
}

.bandera img {
     height: 6rem;
     border-radius: 5px;
}

.idioma {
     margin-left: 3rem;
     margin-right: 3rem;
}

.idioma p {
     margin-bottom: 1rem;
     text-align: center;
     color: white;
     text-shadow: #fe47b2 1px 1px 10px;
     font-size: 1.5rem;
     font-family: 'Montserrat', sans-serif;
}

/* Contáctame */

.contacto {
     margin-top: 2rem;
     padding-bottom: 17rem;
}

.contacto h1 {
     margin-top: 5rem;
     text-align: center;
}

.contacto h2 {
     font-size: 2rem;
     margin-right: 2rem;
}

.contacto a {
     text-decoration: none;
     text-shadow: #161616 1px 1px 10px;
}

.contacto a:hover {
     text-shadow: #ffdc41 1px 1px 10px;
     transition: 0.4s;
}

.wsp {
     margin-top: 5rem;
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-bottom: -12rem;
}

.contacto img {
     height: 2.5rem;
     width: 2.5rem;
     margin-right: 1rem;
     margin-left: 2rem;
}

.btn-danger {
     background-color: #fe47b2;
     color: white;
     font-size: 1.1rem;
     font-family: 'Montserrat', sans-serif;
     padding: 1rem;
     padding-left: 1.7rem;
     padding-right: 1.7rem;
     margin-top: 3rem;
     margin-bottom: 3rem;
     margin-left: 1rem;
     margin-right: 1rem;
     border: none;
}

.btn-danger:hover {
     background-color: #ff6ec3;
     box-shadow: #ff6ec3 1px 1px 8px;
}

h5 {
     text-align: center;
     font-size: 1rem;
     color: #a7a7a7;
     font-family: 'Montserrat', sans-serif;
     margin-top: 1rem;
     margin-bottom: 3rem;
}

/* Responsive Mobile */

@media (max-width: 575.98px) {

     /* Navbar */

     header {
          position: fixed;
          z-index: 100;
     }

     .menuProyect {
          margin-top: -1.21rem;
     }

     #menu {
          z-index: 2;
     }

     #menu-bar {
          width: 1.8rem;
          height: 1rem;
          margin: 30px 0 20px 20px;
          cursor: pointer;
     }

     .bar {
          height: 3.5px;
          width: 100%;
          background-color: #ffdc41;
          display: block;
          border-radius: 5px;
          transition: 0.3s ease;
     }

     #bar1 {
          height: 3px;
          transform: translateY(-4px);
     }

     #bar3 {
          height: 3px;
          transform: translateY(4px);
     }

     .nav {
          transition: 0.3s ease;
          display: none;
     }

     .nav ul {
          padding: 0 22px;
     }

     .nav li {
          list-style: none;
          padding: 12px 0;
     }

     .nav li a {
          color: #111111;
          font-size: 1rem;
          text-decoration: none;
          transition: 0.4s;
          font-family: 'Montserrat', sans-serif;
     }

     .nav li a:hover {
          color: #191818;
          transition: 0.4s;
          text-shadow: #fe47b2 2px 1px 5px;
     }

     .menu-bg,
     #menu {
          top: 0;
          left: 0;
          position: absolute;
     }

     .menu-bg {
          z-index: 1;
          width: 0;
          height: 0;
          margin: 30px 0 20px 20px;
          background-image: linear-gradient(to right, #ffdc41, #ffdc43, #ffdd46, #ffdd48, #ffdd4a);
          border-radius: 50%;
          transition: 0.3s ease;
          box-shadow: #000000 10px 3px 40px;
     }

     .change {
          display: block;
     }

     .change .bar {
          background-color: #111111;
     }

     .change #bar1 {
          transform: translateY(4px) rotateZ(-45deg);
     }

     .change #bar2 {
          opacity: 0;
     }

     .change #bar3 {
          transform: translateY(-6px) rotateZ(45deg);
     }

     .change-bg {
          width: 360px;
          height: 600px;
          transform: translate(-60%, -30%);
     }

     .nav li p {
          margin: 0rem;
          font-size: 1rem;
          color: #fe47b2;
          transition: 0.4s;
     }

     .nav li p:hover {
          color: #fe47b2;
          transition: 0.4s;
          text-shadow: #00afd6 2px 1px 5px;
     }

     /* Página principal */

     body {
          height: 100%;
          background-color: #111111;
     }

     .presentacion {
          padding: 1rem;
          padding-bottom: 10rem;
          text-align: center;
     }

     .presentacion h1 {
          text-align: center;
          margin-top: 14rem;
          margin-left: 0rem;
          margin-right: 0rem;
          font-size: 3.3rem;
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          text-shadow: #fe47b2 5px 3px 8px;
     }

     h2 {
          margin-top: 1.5rem;
          text-align: center;
          font-size: 1.9rem;
          color: #ffdc41;
          font-family: 'Montserrat', sans-serif;
     }

     .logo {
          margin-top: 1.5rem;
          width: 4.2rem;
          height: 4.2rem;
          margin-bottom: -3rem;
     }

     /* Sobre mí */

     img {
          width: 100%;
     }

     .aboutMe {
          background: #ffffff;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #ffffff, #ffffff);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #ffffff, #ffffff);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, 
     Opera 12+, Safari 7+ */
          padding: 0rem;
          padding-bottom: 21.2;
     }

     h3 {
          font-size: 2rem;
          margin-top: 0rem;
          margin-bottom: 2rem;
          color: #000000;
          text-align: center;
          font-family: 'Montserrat', sans-serif;
          text-shadow: #00c6f2 5px 3px 8px;
     }

     .flag1 {
          padding: 0.5rem;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-top: 2rem;
          background-color: #111111;
          border-radius: 6px;
     }

     .flag2 {
          padding: 0.5rem;
          margin-left: 3rem;
          margin-right: 3rem;
          margin-top: 1rem;
          margin-bottom: -1rem;
          background-color: #ffdc41;
          border-radius: 6px;
     }

     p {
          margin-top: 3rem;
          margin-left: 2.8rem;
          margin-right: 2.8rem;
          margin-bottom: -2rem;
          font-size: 0.8rem;
          color: #000000;
          text-align: center;
          font-family: 'Montserrat', sans-serif;
     }

     .interFlag {
          margin-top: 3.5rem;
          margin-bottom: 2.5rem;
     }

     .perfil {
          margin: auto;
          margin-top: 1rem;
          margin-bottom: 6rem;
          width: 10rem;
          height: 10rem;
     }

     .perfil img {
          border: 0.5rem solid #111111;
          box-shadow: #fe47b2 1px 1px 25px;
          border-radius: 6px;
     }

     .botonContacto {
          text-align: center;
     }

     .btn-primary {
          background-color: #00c6f2;
          color: white;
          font-size: 0.8rem;
          font-family: 'Montserrat', sans-serif;
          padding: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-top: 2rem;
          margin-bottom: 1rem;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          border: none;
     }

     .btn-primary:hover {
          background-color: #00afd6;
          color: #fff;
          box-shadow: #00afd6 1px 1px 11px;
     }

     .transformed {
          transform: rotate(180deg);
     }

     /* Tecnologías */

     .tecnologias {
          background-color: #111111;
          padding-top: 23rem;
          padding-bottom: 8rem;
     }

     .tecnologias h1 {
          margin: 0rem;
          text-align: center;
          margin-top: -19rem;
          font-size: 2.5rem;
     }

     .logosTech {
          background-color: #262626;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 0rem;
          padding-right: 0rem;
          margin-top: 3rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          margin-left: 1.9rem;
          margin-right: 1.9rem;
          border: solid 0px #111111;
          border-radius: 6px;
          box-shadow: #ffdc41 1px 1px 18px;
     }

     .tecnologias img {
          margin-bottom: 1.5rem;
          margin-left: 2rem;
          margin-right: 2rem;
          display: flex;
          flex-direction: row;
          width: 3rem;
          height: 2.9rem;
     }

     .logosTech h4 {
          font-size: 1rem;
          color: white;
          text-shadow: #000000 1px 2px 11px;
          text-align: center;
          margin-bottom: 0.8rem;
          margin-top: 1rem;
          font-family: 'Montserrat', sans-serif;
     }

     .frame3 {
          margin: auto;
          margin-top: -8rem;
          width: 18rem;
     }

     .frame3 img {
          height: 8rem;
     }

     /* Proyectos */

     .title-cards h1 {
          margin: 0rem;
          margin-top: 0rem;
          margin-bottom: -1.8rem;
          text-align: center;
          font-size: 2.5rem;
     }

     .card h4 {
          margin-left: 0.6rem;
          margin-right: 0.6rem;
          font-size: 1.5rem;
          color: white;
          text-shadow: #fe47b2 1px 1px 10px;
          margin-bottom: -1.5rem;
          font-family: 'Montserrat', sans-serif;
     }

     .card .contenido-card p {
          line-height: 1.8;
          color: #ffffff;
          font-size: 0.8rem;
          margin-bottom: 20px;
          margin-left: 1rem;
          margin-right: 1rem;
          font-family: 'Montserrat', sans-serif;
     }

     .title-cards {
          width: 100%;
          max-width: 1080px;
          margin: auto;
          padding: 20px;
          margin-top: 20px;
          margin-bottom: 2rem;
          text-align: center;
     }

     .container-card {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
     }

     .card {
          width: 17.8rem;
          height: 36.5rem;
          margin-top: 1.3rem;
          border-radius: 6px;
          background-color: #262626;
          box-shadow: #000000 1px 1px 20px;
          transition: all 400ms ease-out;
          cursor: default;
     }


     .card:hover {
          box-shadow: #fe47b2 1px 1px 18px;
          transform: translateY(-3%);
     }

     .card img {
          width: 100%;
          height: 170px;
          border-bottom: solid 10px #111111;
     }

     .card .contenido-card {
          text-align: center;
     }

     .card .contenido-card a {
          font-size: 0.9rem;
          display: inline-block;
          padding: 10px;
          margin-top: 10px;
          text-decoration: none;
          color: #000000;
          background-color: #ffdc41;
          border-radius: 4px;
          transition: all 400ms ease;
          margin-bottom: 5px;
          font-family: 'Montserrat', sans-serif;
     }

     .card .contenido-card a:hover {
          background-color: #ffeb90;
          color: #000000;
          box-shadow: #ffeb90 1px 1px 8px;
     }

     .card .contenido-card .codigo a {
          color: #111111;
          background-color: #ffffff;
     }

     .card .contenido-card .codigo a:hover {
          color: #111111;
          background-color: #ffffff;
          box-shadow: #ffffff 1px 1px 8px;
     }

     .flex-container {
          flex-wrap: wrap;
     }

     .miniIcons {
          margin: 2rem;
          margin-top: 1rem;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
     }

     .miniIcons img {
          width: 3.5rem;
          height: 1.9rem;
          margin: 0rem;
          margin-top: 0.8rem;
          border: none;
     }

     .todos {
          padding: 1rem;
          margin-top: -2rem;
          margin-bottom: -1rem;
          text-align: center;
          font-family: 'Montserrat', sans-serif;
     }

     /* Idiomas */

     #langLink {
          margin-top: 1rem;
          margin-bottom: 2rem;
     }

     .lang {
          background-color: #262626;
          padding-top: 2rem;
          padding-bottom: 1rem;
          margin-top: 3rem;
          margin-left: 2.7rem;
          margin-right: 2.7rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          border: solid 0px #111111;
          border-radius: 6px;
          box-shadow: #ffdc41 1px 1px 18px;
     }

     .lang h4 {
          font-size: 1rem;
          color: white;
          text-shadow: #000000 1px 2px 11px;
          text-align: center;
          margin-bottom: 1.5rem;
          margin-top: 0rem;
          font-family: 'Montserrat', sans-serif;
     }

     .bandera {
          height: 10rem;
          width: 6rem;
          margin: auto;
          margin-bottom: -8rem;
     }

     .bandera img {
          height: 4rem;
          border-radius: 5px;
     }

     .idioma {
          margin-left: 3rem;
          margin-right: 3rem;
     }

     .idioma p {
          margin-bottom: 2rem;
          text-align: center;
          color: white;
          text-shadow: #fe47b2 1px 1px 10px;
          font-size: 0.8rem;
          font-family: 'Montserrat', sans-serif;
     }

     /* Contáctame */

     .contacto {
          margin-top: 2rem;
          padding-bottom: 17rem;
     }

     .contacto h1 {
          margin: 0rem;
          margin-top: 4rem;
          margin-bottom: 2.5rem;
          text-align: center;
          font-size: 2.5rem;
     }

     .contacto h2 {
          font-size: 1.3rem;
          margin: 0rem;
          margin-bottom: 1rem;
     }

     .contacto a {
          text-decoration: none;
          text-shadow: #161616 1px 1px 10px;
          transition: 0.4s;
     }

     .contacto a:hover {
          text-shadow: #ffdc41 1px 1px 10px;
          transition: 0.4s;
     }

     .wsp {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: -15rem;
     }

     .contacto img {
          margin: auto;
          margin-bottom: 1rem;
          height: 2rem;
          width: 2rem;
     }

     .btn-danger {
          background-color: #fe47b2;
          color: white;
          font-size: 0.9rem;
          font-family: 'Montserrat', sans-serif;
          padding: 1rem;
          padding-left: 1.7rem;
          padding-right: 1.7rem;
          margin-top: 1rem;
          margin-bottom: 3rem;
          margin-left: 1rem;
          margin-right: 1rem;
          border: none;
          transition: 0.4s;
     }

     .btn-danger:hover {
          background-color: #ff6ec3;
          box-shadow: #ff6ec3 1px 1px 8px;
          transition: 0.4s;
     }

     h5 {
          text-align: center;
          font-size: 0.8rem;
          color: #a7a7a7;
          font-family: 'Montserrat', sans-serif;
          margin: auto;
          margin-bottom: 3rem;
          margin-left: 2rem;
          margin-right: 2rem;
     }

}